.title{
  font-weight: 700;
  font-size: 1.2rem;
}

.content{
   font-size: 0.8rem; 
}

.pagination{
  display: flex;
}

.pagination > *{
  flex: 1;
  padding: 5px 1rem;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 132, 255);
}